.container-fluid {
    background-color: #BCC410;
}
.navbar-default .navbar-nav>.active>a{
    background-color:  #BCC410;
    color: white;
}
.melon {
    text-align:center;
    width:75%;
}

.glyphicon {
    top:50%;
    left:18%;
}